# U.S. Census Demo

In [64]:
# Dependencies
import requests
import pandas as pd
from census import Census

In [1]:


zip_df = pd.read_csv("ChicagoZips.csv", encoding="utf-8")

store_df=pd.read_csv("Grocery_Store_Status_jlk.csv" , encoding="utf-8")
store_df["Zipcode"]=store_df["Zipcode"].astype("int64")
store_df=store_df[store_df["New status"]=="OPEN"]
store_df

NameError: name 'pd' is not defined

In [87]:

store_count_df=store_df.groupby("Zipcode").count()
store_count_df

         Store Name  Address  Zip_long  New status  Last updated  Location
Zipcode
60601             4        4         4           4             1         4
60603             1        1         1           1             1         1
60605             3        3         3           3             3         3
60607             3        3         3           3             3         3
60608            13       13        13          13            13        13
60609             5        5         5           5             4         5
60610             7        7         7           7             7         7
60611             4        4         4           4             4         4
60612             1        1         1           1             1         1
60613             5        5         5           5             5         5
60614            10       10        10          10             9        10
60615             4        4         4           4             4         4
60616             6        6         6           6             6         6
60617             8        8         8           8             8         8
60618             9        9         9           9             9         9
60619             4        4         4           4             4         4
60620             9        9         9           9             9         9
60621             2        2         2           2             2         2
60622             3        3         3           3             3         3
60623             7        7         7           7             7         7
60624             3        3         3           3             3         3
60625             4        4         4           4             4         4
60626             6        6         6           6             6         6
60628             3        3         3           3             3         3
60629             9        9         9           9             9         9
60630             5        5         5           5             4         5
60631             1        1         1           1             1         1
60632            10       10        10          10            10        10
60634             5        5         5           5             5         5
60636             2        2         2           2             2         2
60637             4        4         4           4             4         4
60638             5        5         5           5             5         5
60639            14       14        14          14            14        14
60640             9        9         9           9             8         9
60641             3        3         3           3             3         3
60642             1        1         1           1             1         1
60643             4        4         4           4             4         4
60644             3        3         3           3             3         3
60645             2        2         2           2             2         2
60646             3        3         3           3             3         3
60647            14       14        14          14            14        13
60649             2        2         2           2             2         2
60651             3        3         3           3             2         3
60652             1        1         1           1             1         1
60653             2        2         2           2             2         1
60654             2        2         2           2             2         2
60655             1        1         1           1             1         1
60656             2        2         2           2             2         2
60657             6        6         6           6             6         6
60659             3        3         3           3             3         3
60660             3        3         3           3             3         3
60661             4        4         4           4             3         4
60707             4        4         4           4             4         4
60804             1        1         0           1             1         1
60827             1        1         1           1             1         1

In [88]:

store_count_df=store_count_df[["Address"]]
store_count_df= store_count_df.rename(columns = {"Address": "Store Count"})
store_count_df

         Store Count
Zipcode
60601              4
60603              1
60605              3
60607              3
60608             13
60609              5
60610              7
60611              4
60612              1
60613              5
60614             10
60615              4
60616              6
60617              8
60618              9
60619              4
60620              9
60621              2
60622              3
60623              7
60624              3
60625              4
60626              6
60628              3
60629              9
60630              5
60631              1
60632             10
60634              5
60636              2
60637              4
60638              5
60639             14
60640              9
60641              3
60642              1
60643              4
60644              3
60645              2
60646              3
60647             14
60649              2
60651              3
60652              1
60653              2
60654              2
60655              1
60656              2
60657              6
60659              3
60660              3
60661              4
60707              4
60804              1
60827              1

In [67]:
# Import U.S. Census API Key
from config import api_key

# Create an instance of the Census library
c = Census(
    api_key,
    year = 2020
)

## Retrieve data from the U.S. Census using the Census library

References:

* Review the following page to review the Python library documentation: <https://github.com/CommerceDataService/census-wrapper>

* Review the following page to learn more about the data labels: <https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b>

In [68]:
# Run Census Search to retrieve data on all zip codes 
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B01002_001E",
        "B19301_001E",
        "B17001_002E",
        "B15003_002E",
        "B15003_017E",
        "B15003_018E", 
        "B15003_022E", 
        "B23025_004E",
        "B23025_005E"


    ),
    {'for': 'zip code tabulation area:*'}
)
#census_data

In [69]:

# Convert to DataFrame
census_df = pd.DataFrame(census_data)
census_df=census_df.rename(columns={"zip code tabulation area": "zip_codes"})
census_df

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E,zip_codes
0,ZCTA5 29590,30985.0,3543.0,39.1,13288.0,869.0,65.0,721.0,440.0,162.0,1104.0,46.0,29590
1,ZCTA5 93306,54450.0,74296.0,31.3,23580.0,15853.0,1641.0,10337.0,1718.0,5098.0,28717.0,2379.0,93306
2,ZCTA5 93660,39625.0,4082.0,26.7,12475.0,1057.0,117.0,464.0,56.0,52.0,1313.0,229.0,93660
3,ZCTA5 93110,93264.0,15777.0,46.9,53375.0,1332.0,150.0,1686.0,293.0,3405.0,7692.0,286.0,93110
4,ZCTA5 93212,42983.0,22596.0,34.4,10656.0,3911.0,396.0,3256.0,1339.0,515.0,4484.0,575.0,93212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 16623,51667.0,552.0,54.9,26369.0,80.0,5.0,168.0,18.0,29.0,201.0,18.0,16623
33116,ZCTA5 16627,45000.0,2118.0,44.6,24699.0,324.0,4.0,780.0,83.0,135.0,988.0,124.0,16627
33117,ZCTA5 16634,51500.0,315.0,46.1,25084.0,24.0,0.0,111.0,8.0,16.0,127.0,19.0,16634
33118,ZCTA5 16640,55982.0,707.0,48.6,28335.0,167.0,2.0,220.0,62.0,79.0,266.0,12.0,16640
33119,ZCTA5 17062,73036.0,4289.0,43.2,32621.0,255.0,18.0,1018.0,182.0,520.0,2075.0,69.0,17062

In [70]:
census_df["zip_codes"]=census_df["zip_codes"].astype("int64")

census_df

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E,zip_codes
0,ZCTA5 29590,30985.0,3543.0,39.1,13288.0,869.0,65.0,721.0,440.0,162.0,1104.0,46.0,29590
1,ZCTA5 93306,54450.0,74296.0,31.3,23580.0,15853.0,1641.0,10337.0,1718.0,5098.0,28717.0,2379.0,93306
2,ZCTA5 93660,39625.0,4082.0,26.7,12475.0,1057.0,117.0,464.0,56.0,52.0,1313.0,229.0,93660
3,ZCTA5 93110,93264.0,15777.0,46.9,53375.0,1332.0,150.0,1686.0,293.0,3405.0,7692.0,286.0,93110
4,ZCTA5 93212,42983.0,22596.0,34.4,10656.0,3911.0,396.0,3256.0,1339.0,515.0,4484.0,575.0,93212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 16623,51667.0,552.0,54.9,26369.0,80.0,5.0,168.0,18.0,29.0,201.0,18.0,16623
33116,ZCTA5 16627,45000.0,2118.0,44.6,24699.0,324.0,4.0,780.0,83.0,135.0,988.0,124.0,16627
33117,ZCTA5 16634,51500.0,315.0,46.1,25084.0,24.0,0.0,111.0,8.0,16.0,127.0,19.0,16634
33118,ZCTA5 16640,55982.0,707.0,48.6,28335.0,167.0,2.0,220.0,62.0,79.0,266.0,12.0,16640
33119,ZCTA5 17062,73036.0,4289.0,43.2,32621.0,255.0,18.0,1018.0,182.0,520.0,2075.0,69.0,17062

In [71]:
chicago = pd.merge(zip_df, census_df, on="zip_codes", how = "left")
chicago

,zip_codes,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,60677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,60678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,60681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,60680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,60684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# Need to remove NaN -- not all zip codes listed in zillow are recognized by the census. Those zip codes likely are considered part of a bigger neighboring zip. Therefore, dropping any that is missing census data. 
chicago=chicago.dropna(thresh=2)

In [73]:

# Column renaming
chicago = chicago.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B17001_002E": "Poverty Count",
        "NAME": "Name",
        "zip_codes": "Zipcode",
        "B15003_002E":	"Education_none",
        "B15003_017E":	"education_high_sc",
        "B15003_018E":	"education_ged",
        "B15003_022E":	"education_bachelor",
        "B23025_004E":	"employment_employed",
        "B23025_005E":	"employment_unemployed"


    }
)

chicago

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,education_bachelor,employment_employed,employment_unemployed
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,60602,ZCTA5 60602,226276.0,1596.0,34.0,193919.0,10.0,0.0,0.0,0.0,536.0,1429.0,5.0
174,60603,ZCTA5 60603,140125.0,1186.0,33.3,122475.0,111.0,0.0,0.0,0.0,392.0,725.0,49.0
175,60604,ZCTA5 60604,58558.0,729.0,32.3,81253.0,209.0,0.0,0.0,0.0,115.0,457.0,68.0
176,60029,ZCTA5 60029,201989.0,512.0,46.0,92595.0,18.0,0.0,27.0,10.0,124.0,220.0,11.0
177,60141,ZCTA5 60141,13817.0,324.0,70.5,14196.0,72.0,0.0,75.0,14.0,111.0,0.0,6.0

In [89]:
chicago=chicago.merge(store_count_df, on="Zipcode", how = "left")

In [91]:
chicago=chicago.dropna(how="any")
chicago

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,education_bachelor,employment_employed,employment_unemployed,Store Count_x,Store Count_y
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0,9.0,9.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0,9.0,9.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0,16.0,14.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0,15.0,14.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0,1.0,1.0
5,60632,ZCTA5 60632,46937.0,86715.0,31.4,18927.0,13916.0,2944.0,18401.0,2417.0,4679.0,36258.0,4790.0,10.0,10.0
6,60617,ZCTA5 60617,43642.0,82101.0,36.7,22736.0,19052.0,1288.0,14595.0,1902.0,6591.0,32827.0,4676.0,8.0,8.0
7,60608,ZCTA5 60608,57183.0,80011.0,33.0,25703.0,11491.0,2108.0,11755.0,2020.0,11422.0,36184.0,2751.0,14.0,13.0
8,60625,ZCTA5 60625,73114.0,78820.0,34.7,39392.0,8922.0,1290.0,8557.0,1409.0,17960.0,45072.0,2946.0,4.0,4.0
9,60623,ZCTA5 60623,34714.0,77732.0,32.9,16840.0,21125.0,2078.0,13872.0,1839.0,4307.0,30774.0,3960.0,7.0,7.0
10,60634,ZCTA5 60634,72507.0,75604.0,40.6,32294.0,6548.0,1339.0,14520.0,2199.0,9348.0,39803.0,1957.0,5.0,5.0
11,60657,ZCTA5 60657,94722.0,70489.0,31.1,78274.0,5407.0,144.0,1536.0,416.0,25964.0,50140.0,1883.0,7.0,6.0
12,60614,ZCTA5 60614,117251.0,72391.0,30.4,89933.0,6074.0,139.0,1695.0,265.0,23690.0,46652.0,1457.0,11.0,10.0
13,60620,ZCTA5 60620,39499.0,68761.0,39.4,21225.0,16649.0,432.0,11782.0,1986.0,5558.0,24975.0,4937.0,11.0,9.0
14,60641,ZCTA5 60641,67599.0,70163.0,36.6,32542.0,7875.0,1571.0,10004.0,1912.0,10420.0,37118.0,2182.0,3.0,3.0
15,60640,ZCTA5 60640,59516.0,69726.0,37.0,43200.0,13267.0,730.0,5832.0,881.0,19372.0,42784.0,1969.0,9.0,9.0
16,60628,ZCTA5 60628,44410.0,65008.0,39.4,21980.0,14952.0,433.0,10316.0,1543.0,5742.0,24484.0,6250.0,3.0,3.0
17,60609,ZCTA5 60609,40324.0,60551.0,33.9,21017.0,15997.0,1544.0,12222.0,1421.0,3901.0,25527.0,4495.0,5.0,5.0
19,60651,ZCTA5 60651,41107.0,63679.0,33.9,19526.0,15929.0,1066.0,12417.0,1409.0,3228.0,26786.0,3416.0,3.0,3.0
20,60619,ZCTA5 60619,40762.0,61372.0,41.9,25520.0,14750.0,426.0,9524.0,1781.0,7338.0,24592.0,4863.0,4.0,4.0
21,60638,ZCTA5 60638,68041.0,57057.0,38.3,31202.0,4928.0,522.0,11719.0,1599.0,6027.0,26908.0,2505.0,5.0,5.0
25,60630,ZCTA5 60630,78703.0,55692.0,40.1,37240.0,3918.0,710.0,8719.0,1356.0,11381.0,29267.0,1633.0,5.0,5.0
26,60622,ZCTA5 60622,106128.0,52957.0,32.2,67985.0,4984.0,502.0,3530.0,548.0,19040.0,37191.0,1181.0,3.0,3.0
30,60626,ZCTA5 60626,45632.0,51017.0,34.3,29927.0,10187.0,614.0,4566.0,1260.0,10083.0,28026.0,1315.0,6.0,6.0
31,60613,ZCTA5 60613,84463.0,51399.0,33.3,65591.0,4950.0,386.0,2306.0,250.0,17654.0,36222.0,1343.0,5.0,5.0
32,60649,ZCTA5 60649,36130.0,47084.0,38.1,27762.0,13298.0,474.0,6883.0,1198.0,4942.0,20787.0,3803.0,3.0,2.0
34,60616,ZCTA5 60616,61843.0,52557.0,37.9,39779.0,10033.0,1482.0,6495.0,651.0,9163.0,27899.0,1576.0,6.0,6.0
35,60643,ZCTA5 60643,69782.0,48572.0,42.7,37263.0,6535.0,242.0,6378.0,799.0,6949.0,20769.0,2453.0,4.0,4.0
36,60645,ZCTA5 60645,62989.0,46924.0,36.6,31614.0,6942.0,976.0,4692.0,859.0,9704.0,22197.0,1424.0,2.0,2.0
37,60644,ZCTA5 60644,28033.0,45919.0,36.5,17691.0,14310.0,745.0,10197.0,1238.0,2174.0,16425.0,3274.0,3.0,3.0
38,60637,ZCTA5 60637,30149.0,46621.0,31.0,28292.0,14934.0,247.0,5304.0,1083.0,4061.0,17707.0,3491.0,4.0,4.0
39,60659,ZCTA5 60659,54807.0,43843.0,34.8,24645.0,8242.0,1391.0,5254.0,845.0,6969.0,20280.0,1456.0,3.0,3.0
42,60660,ZCTA5 60660,53365.0,45131.0,35.2,37791.0,6552.0,488.0,4429.0,900.0,9901.0,26214.0,1246.0,3.0,3.0
43,60707,ZCTA5 60707,64790.0,42434.0,40.0,31849.0,2888.0,736.0,7369.0,839.0,4994.0,22098.0,1154.0,4.0,4.0
44,60652,ZCTA5 60652,71267.0,42296.0,36.6,26594.0,5809.0,699.0,6927.0,1307.0,3460.0,19100.0,2314.0,1.0,1.0
45,60610,ZCTA5 60610,95994.0,40954.0,33.4,92334.0,4234.0,75.0,2107.0,334.0,13964.0,27858.0,670.0,7.0,7.0
47,60615,ZCTA5 60615,44658.0,41198.0,34.7,40185.0,10747.0,272.0,2881.0,452.0,7928.0,21313.0,1862.0,5.0,4.0
58,60624,ZCTA5 60624,25648.0,35054.0,33.5,15133.0,13742.0,197.0,6118.0,1077.0,1472.0,11021.0,3088.0,3.0,3.0
62,60611,ZCTA5 60611,108413.0,33937.0,38.4,114009.0,3366.0,62.0,1022.0,44.0,11535.0,22147.0,643.0,4.0,4.0
63,60653,ZCTA5 60653,34621.0,33574.0,35.1,30773.0,9899.0,140.0,3966.0,769.0,4599.0,13886.0,2555.0,2.0,2.0
64,60612,ZCTA5 60612,44538.0,32240.0,34.1,33583.0,9215.0,262.0,3928.0,741.0,4883.0,14967.0,1793.0,1.0,1.0
68,60631,ZCTA5 60631,102936.0,28864.0,42.5,52203.0,1409.0,216.0,4953.0,419.0,5975.0,15366.0,340.0,1.0,1.0
70,60636,ZCTA5 60636,26598.0,30039.0,40.5,17552.0,9303.0,369.0,7028.0,1258.0,1468.0,9148.0,2975.0,3.0,2.0
75,60607,ZCTA5 60607,103173.0,30306.0,30.4,61065.0,5063.0,80.0,1195.0,203.0,9036.0,18374.0,1410.0,3.0,3.0
77,60646,ZCTA5 60646,100670.0,29043.0,41.9,53726.0,1883.0,158.0,3068.0,451.0,6347.0,14132.0,669.0,3.0,3.0
79,60655,ZCTA5 60655,99264.0,27771.0,39.8,43820.0,1104.0,56.0,3195.0,441.0,4790.0,13938.0,586.0,1.0,1.0
81,60605,ZCTA5 60605,109194.0,30950.0,34.1,81850.0,1821.0,98.0,820.0,123.0,8336.0,19666.0,1031.0,3.0,3.0
83,60621,ZCTA5 60621,23019.0,26736.0,36.6,15127.0,10541.0,350.0,5407.0,990.0,1247.0,7939.0,2420.0,2.0,2.0
93,60827,ZCTA5 60827,34878.0,28327.0,32.0,19581.0,8658.0,386.0,4289.0,786.0,1365.0,10423.0,2482.0,1.0,1.0
98,60642,ZCTA5 60642,120442.0,20191.0,31.8,70863.0,1518.0,198.0,1174.0,270.0,8278.0,15289.0,693.0,1.0,1.0
99,60656,ZCTA5 60656,68931.0,28982.0,39.3,38960.0,2518.0,261.0,4917.0,427.0,6039.0,15426.0,707.0,2.0,2.0
104,60654,ZCTA5 60654,128101.0,20812.0,33.2,114428.0,1524.0,6.0,528.0,79.0,8676.0,16011.0,440.0,2.0,2.0
124,60601,ZCTA5 60601,109625.0,14513.0,34.2,110753.0,1240.0,0.0,203.0,81.0,4332.0,8856.0,355.0,4.0,4.0
145,60661,ZCTA5 60661,125365.0,10734.0,31.6,89810.0,728.0,39.0,285.0,0.0,3975.0,8322.0,90.0,4.0,4.0
167,60603,ZCTA5 60603,140125.0,1186.0,33.3,122475.0,111.0,0.0,0.0,0.0,392.0,725.0,49.0,1.0,1.0

In [13]:

# Add a Poverty Rate column (Poverty Count / Population)
#census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Configure the final DataFrame
chicago = chicago[
    [
        "Zipcode",
        "Population",
        "Median Age",
        "Household Income",
        "Per Capita Income",
        "Poverty Count",
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(chicago)}")
chicago.head()

Number of rows in the DataFrame: 171

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count
0,60629,107930.0,31.3,43372.0,19159.0,20230.0
1,60618,94646.0,34.4,85443.0,47550.0,8382.0
2,60639,88515.0,34.6,51810.0,21614.0,15257.0
3,60647,85658.0,32.2,82433.0,51166.0,10750.0
4,60804,81505.0,31.7,53750.0,20059.0,11115.0

In [ ]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
#census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)